/* go to cs file and write styles */

/* you need to change the background-color of body write this code */
/* body{
    background-color: red;
    color: blue;
} */

/* how to cahange color of div write this code*/

/* div{
    color: brown;
    background-color: yellow;
} */

/* this is css lets go and write java script */